# ANOVA

One-way ANOVA means "Analysis of Variance". It is an omnibus test, and parametric. 

* **Omnibus** tests are a kind of stastical test, they test whether the explained variance in a set of data is significantly greater than the unexplained variance. Forms of ominbus testing includes the **F-Test** and the **Chi-squared test**.


* **Parametric** models are models based on assumptions of the population such as mean, which is defined as a parameter. 

An ANOVA test is said to be a one-way test if it is testing a single variable, an ANOVA test can be two-way or a two-factor test if it tests two variables. This is usually refered to as a ANCOVA where the "C" stands for covariate. With more than two factors, the test is generally referred to as MANOVA or Multiple Analysis of Variance. 

### Parametric Test Assumptions of ANOVA

* Population distributions are normal
* Samples have equal variances
* Independence

### F-statistic

The test statistic for ANOVA is the F-statistic and compares the mean square between samples to the mean square within samples.

$$
    F = \frac{MS_B}{MS_W}
$$

Where, 

$$
 MS_B = \frac{\text{Sum of square between sample} (SS_b)}{k-1} \\
 MS_W = \frac{\text{Sum of square between sample} (SS_w)}{n_T-k}
\\\\
$$


* k is number of groups
* $n_T$ is the total number of observations

Similar to the t-test and the t-statistic, you reject the null hypothesis if the f-statistic is greater than a defined threshold value which is based on degrees of freedom and alpha.

In [57]:
from sklearn.datasets import load_iris
import pandas as pd
import seaborn as sns

data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [58]:
df['target'] = data.target
df['target_name'] = 'none'

for i in range(0,len(data.target_names)):
    df.loc[(df['target']==i),'target_name'] = data.target_names[i]
   
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [59]:
# Importing library
from scipy.stats import f_oneway
 
# Performance when each of the engine
# oil is applied
performance1 = [89, 89, 88, 78, 79]
performance2 = [93, 92, 94, 89, 88]
performance3 = [89, 88, 89, 93, 90]
performance4 = [81, 78, 81, 92, 82]
 
# Conduct the one-way ANOVA
f_oneway(performance1, performance2, performance3, performance4)

F_onewayResult(statistic=4.625000000000002, pvalue=0.016336459839780215)

Performance is actually engine oil, and the values is the performance in those engines when the engine oil is applied. 

So engine oil is the feature, and each test observation is the value of an engine with that feature. 

You could setup a similar test with iris where three different flower types, but you are testing a single feature like spal length.