Need to practice:

Modulo
Floor Division
List question in 14
Binary operators with question 17
In 18 - why did it select y instead of x and y

https://www.freecodecamp.org/news/the-python-modulo-operator-what-does-the-symbol-mean-in-python-solved/#:~:text=The%20%25%20symbol%20in%20Python%20is,remainder%20of%20a%20division%20problem

In [1]:
# this is the modulo operator and returns the remainder of dividing the left hand operand by the right hand operand
print(2%6)

2

In [2]:
2/6

0.3333333333333333

In [3]:
print(2*3**3*4)

216

In [12]:
36/4

9.0

In [14]:
a = [10, 20]
b = a
b += [30, 40]

print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [15]:
y = 10
x = y += 2
print(x)

SyntaxError: invalid syntax (Temp/ipykernel_22632/971796564.py, line 2)

In [16]:
x = 6
y = 2
print(x ** y)
print(x // y)

36
3

In [17]:
a = 4
b = 11

print(a | b)
print(a >> 2)

15
1

In [18]:
x = 100
y = 50
print(x and y)

# In Python, When we join two non-Boolean values using a and operator, 
# the value of the expression is the second operands, not True or False.

50

In [ ]:
print(-18 // 4)

# In the case of floor division operator (//), 
# when the result is negative, the result is rounded down to the next smallest (big negative) integer.

In [19]:
print(2 ** 3 ** 2) # this is right to left, not left to right
# Remember, we have not used brackets here. And Exponent operator ** has right-to-left associativity in Python.

512

In [27]:
print(2**3**2)
print((3**2)**2)
print((2**3)**2)
print((2**2)**3)

512
81
64
64

In [28]:
2**3

8

In [29]:
8*8

64

In [30]:
num1, num2, num3 = 2, 3, 2
num4 = num1 ** num2 ** num3
print(num4)

512

In [33]:
2**(3*3)

512

In [1]:
var = "James Bond"
print(var[2::-1])

maJ

In [5]:
listOne = [20,40,60,80]
listTwo = [20,40,60,80]
listThree = listOne

print(listOne == listTwo)
print(listOne is listTwo)
print(listThree is listOne)

listOne.append(10)

print(listThree)

True
False
True
[20, 40, 60, 80, 10]

In [7]:
p, q, r = 10, 20, 30
print(p,q,r)

10 20 30

In [9]:
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

182.0

In [14]:
36/4*5*4+2

182.0

In [11]:
36/80

0.45

In [16]:
print(1+1+"3")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
for x in range(0.5, 5.5, 0.5):
    print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [19]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [20]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [21]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [22]:
str = "pynative"
print (str[1:3])

yn

In [23]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement